doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      /* Add your CSS styles here */

  body
    p You have requested to set config of completement step - #{completementStep}.
    p Here are the details of your request:
    ul
      li Organization Name: #{orgName}
      li Organization ID: #{orgId}
      li Other Details: #{additionalParams}
