| Hi #{firstNameRecipient},
|
| Your #{giftCardIntegrationTitle} gift card was unfortunately declined and will not be processed.
|
| All pending points are released and returned to #{firstNameSender}.
|
| The reason for declining gift card:
| #{adminComment}
|
| Best regards,
| Remote Santa Team