| Hi #{firstName} #{lastName},
|
| Hooray! Your #{giftCardIntegrationTitle} gift card is ready! 
| Please find your gift card attached in this letter. Happy shopping!
|
| Best regards,
| Remote Santa Team
