p Hi #{firstName} #{lastName},
br
p Congratulations! 
p You have just gained some fresh points! Search the offer of gift cards and use the points on something you love! 
p Happy shopping!
br
p Best regards,
p Remote Santa Team
