@use "./../variables.scss";

.app-header-private{
    background-color: variables.$main-yellow !important;
    box-shadow: none !important;
    padding-top: variables.$base-unit * 2;

    .grid-style {
        display: inline-flex;
        justify-content: space-between;
    }

    .toolbar-style {
        margin-left: variables.$base-unit * 6;
    }

    .logo-small {
        margin-top: variables.$base-unit * 2;
    }

    .align-right {
        text-align: right;
        margin-top: variables.$base-unit * 2;
    }

    .align-center {
        text-align: center;
        margin-top: variables.$base-unit * 2;
    }

    .align-left{
        text-align: left;
        margin-top: variables.$base-unit * 2;
    }

    .header-item {
        font-family: "Montserrat";
        color: variables.$color-neutral-black;
        margin-top: variables.$base-unit;
        cursor: pointer;
    }

    .header-item-active {
        font-family: "Montserrat";
        color: variables.$color-neutral-black;
        margin-top: variables.$base-unit;
        cursor: pointer;
        text-decoration-line: underline;
    }

    .user-manager-icon{
        width: variables.$base-unit *5;
        height: variables.$base-unit *5;
    }
}

.MuiPopover-root{
    .MuiPaper-root{
        border-radius: variables.$base-unit * 2;
        width: variables.$base-unit * 22;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  
        .MuiList-root{
            border-radius: variables.$base-unit * 3;
            padding-top: variables.$base-unit * 2;
            padding-bottom: variables.$base-unit *2;
            .MuiMenuItem-root{
                padding-bottom: variables.$base-unit ;
                .MuiTypography-root{
                    font-family: "Montserrat";
                    margin-left: variables.$base-unit * 2;
                }
            }
        }
    }
}