$base-unit: 8px;
$color-neutral-black: #1F2223;
$color-dark-yellow: #FDC886;

.app-header {
    background-color: #f5f2ea !important;
    box-shadow: none !important;
    margin-top: $base-unit * 2;

    .grid-style {
        display: inline-flex;
        justify-content: space-between;
    }

    .header-item {
        font-family: "Montserrat";
        color: $color-neutral-black;
        margin-top: $base-unit;
    }

    .header-button,
    & .header-button:hover {
        background-color: $color-dark-yellow;
        border-radius: $base-unit;
        box-shadow: none;
        color: $color-neutral-black;
        text-transform: none;
    }

    .header-icon {
        margin-top: $base-unit;
    }

    .toolbar-style {
        margin-left: $base-unit * 6;
    }

    .align-right {
        text-align: right;
        margin-top: $base-unit * 2;
    }

    .align-center {
        text-align: center;
        margin-top: $base-unit * 2;
    }

    .logo-small {
        margin-top: $base-unit * 2;
    }
}