@use "./../variables.scss";

.app-footer {
    width: 100%;
    height: variables.$base-unit * 3;
    bottom: 0;
    position: fixed;
    text-align: center;

    .footer-text {
        color: variables.$color-neutral-black;
        font-family: 'Montserrat';
        font-size: variables.$font-size-smaller;
        margin-right: variables.$base-unit * 3;
        display: inline-flex;
    }
}