$height-full: 100vh;
$min-height-full: 100%;

html {
    min-height: $min-height-full;
}

body {
    min-height: $min-height-full;
    margin: 0px;
}

.background {
    justify-content: center;
    align-items: center;
    display: flex;
    height: $height-full;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}