|Gift Card Request Confirmed - Delivery in Progress
|
|Dear #{firstName},
|
|We are excited to inform you that your gift card request has been successfully created, and our dedicated team of "Elfs" is hard at work to ensure its swift delivery.
|
|At Remote Santa, we take pride in curating memorable gifting experiences. As part of our commitment to quality, some manual work is involved in the process of acquiring your chosen gift card. Rest assured, our diligent "Elfs" are meticulously handpicking and preparing your gift card to make it truly special.
|
|Details of your gift card request:
|- Store: #{storeName}
|- Amount: #{amount} #{currency}
|
|Once your gift card is ready, we will promptly send it to this email address. You can expect a beautifully designed digital gift card, tailored to your preferences and ready to bring joy to your lucky recipient.
|
|Warm regards,
|Remote Santa Team