p Hi there,
br
p You're invited by #{senderName} to join #{companyName}.
p Join us and collect points every month, buy presents and play gifting games with your teammates. Have fun together!
p Here is your registration link: 
a(href=registrationUrl) Register now
br
br
p Best regards,
p Remote Santa Team
