| Hello,

| We hope this email finds you well! #{senderName}, has invited you to join #{orgName} team on Remote Santa, a platform that combines gifting and virtual parties to enhance your work-life celebrations.

| To get started and join your team on Remote Santa, simply click on the link below:

| Invitation Link: #{invitationLink}

| We can't wait for you to experience the joy of gifting and virtual parties with Remote Santa! Should you have any questions or need assistance, our dedicated support team is always here to help.

| Click on the invitation link above to join Remote Santa and start celebrating with your team!

| Best regards,
| Remote Santa

| P.S. To learn more about Remote Santa, visit our website at https://www.remotesanta.io/
