| Hi there,
|
| You're invited to join Remote Santa.
| Join us and collect points every month, buy presents and play gifting games with your teammates. Have fun together!
| Here is your registration link: 
| Register now - #{registrationUrl}
|
| Best regards,
| Remote Santa Team
