/* BASE */
$base-unit: 8px;

/* COLORS */
$color-neutral-black: #1F2223;
$color-dark-yellow: #FDC886;
$error-color: #B3411C;

/* FONTS */
$font-size-title: 36px;
$font-size-small: 12px;
$font-size-smaller: 10px;