p Hi #{firstName},
br
p Congratulations! 
p #{orgName} just sent you some fresh points with note:
fieldset #{message}
br
p Search the offer of gift cards and use the points on something you love! 
p Happy shopping!
br
p Best regards,
p Remote Santa Team
