| Hi #{firstName},
|
| Congratulations! 
|
|  #{companyName} just sent you some fresh points with note:
|  #{message}
|
| Search the offer of gift cards and use the points on something you love! 
| Happy shopping!
|
| Best regards,
| Remote Santa Team
