@use "./../variables.scss";

$card-width: 440px;
$back-icon-margin-bottom:3px;

.admin-user-details{
    background-image: url("./../../assets/home-image.svg");

    .card-style{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        border-radius: variables.$base-unit * 3;
        padding: variables.$base-unit * 5;
        width: $card-width;
    }

    .title-style{
        font-family: "Montserrat";
        font-size: variables.$font-size-larger;
        margin-bottom: variables.$base-unit * 4;
    }

    .info-style{
        font-family: "Montserrat";
        font-size: variables.$font-size-medium;
        margin-bottom: variables.$base-unit;
    }
    .back-div{
        width: 100%;
        .back-button,
            & .back-button:hover {
                float: left;
                color: variables.$color-neutral-black;
                text-transform: none;
                height: $button-details-height;
                font-weight: bold;
                background-color: white;
                float: left;

                .back-icon{
                    margin-bottom: $back-icon-margin-bottom;
                }
            }
    }

    .warning {
        color: variables.$error-color;
        text-align: start;
        margin-bottom: variables.$base-unit ;
        margin-top:variables.$base-unit * 4;
        display: inline-flex;
        width: 100%;
    
        .warning-icon {
          width: $login-error-icon-width !important;
          height: $login-error-icon-height;
          width: 10%;
          margin-right: variables.$base-unit;
          margin-bottom: 2px;
          color: variables.$color-dark-yellow;
        }
    
        .warning-message {
          width: 90%;
          font-size: variables.$font-size-small;
          color: variables.$color-dark-yellow;
        }
      }

      .delete-div{
        width: 100%;
        height: variables.$base-unit * 10;
        .delete-button,
        & .delete-button:hover {
            background-color: variables.$error-color;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: white;
            text-transform: none;
            width: 30%;
            height: variables.$base-unit * 5;
            float: left;
        }
    }
}