@use "./../variables.scss";

$content-width:800px;
$back-icon-margin-bottom:3px;

.admin-invites{
    background-image: url("./../../assets/home-image.svg");

    .grid-style{
        max-width: $content-width;
        justify-content: center;
        padding-top: variables.$base-unit * 7;

        .invites-title{
            font-family: "Montserrat";
            font-size: variables.$font-size-title;
            margin-bottom: variables.$base-unit;
            width: max-content;
        }

        .back-button,
        & .back-button:hover {
            float: left;
            color: variables.$color-neutral-black;
            text-transform: none;
            height: $button-details-height;
            font-weight: bold;
            background-color: variables.$main-yellow;

            .back-icon{
                margin-bottom: $back-icon-margin-bottom;
            }
        }

        .add-button{
            float: right;
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: 50%;
            height: variables.$base-unit * 5;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;
        }
    }

    .box-style{
        height: 525px;
        width: 100%;
    }

    .data-grid{
        width: $content-width;
        margin-left: auto;
        margin-right: auto;
        border-radius: variables.$base-unit * 3;
        background-color: white;
        font-family: "Montserrat";
        border: none;
        overflow: hidden;

        .cancel-button,
        & .cancel-button:hover{
            background-color: variables.$error-color;
            width: variables.$base-unit * 5;
            height: variables.$base-unit * 5;
         
            .cancel-icon{
                color: white;
                width: variables.$base-unit *3;
                height: variables.$base-unit *3;
            }
        }

        .resend-button,
        & .resend-button:hover{
            background-color: variables.$color-dark-yellow;
            width: variables.$base-unit * 5;
            height: variables.$base-unit * 5;
         
            .resend-icon{
                color: black;
                width: variables.$base-unit *3;
                height: variables.$base-unit *3;
            }
        }
    }

      .MuiFormControl-root {
        margin: 0px;
        border-radius: variables.$base-unit;
        margin-bottom: variables.$base-unit;
    
        .MuiOutlinedInput-root {
          border-radius: variables.$base-unit;
        }
    
        .MuiOutlinedInput-root.Mui-error {
          .MuiOutlinedInput-notchedOutline {
            border-color: variables.$error-color;
          }
        }
    
        .MuiFormLabel-root.Mui-error {
          color: $login-error-label-color;
        }
      }
}

.MuiModal-root{
    .MuiCard-root{
      padding-top: variables.$base-unit * 6;
        padding-bottom: variables.$base-unit * 6;
        background-color: white;
        .MuiTypography-h5{
            font-family: "Montserrat";
            margin-left:variables.$base-unit * 3;
            font-size: variables.$font-size-larger;
            margin-bottom: variables.$base-unit * 4;
            width: max-content;
        }
        .invite-error-fe {
            font-size: variables.$font-size-small;
            color: variables.$error-color;
            text-align: start;
            margin-bottom: variables.$base-unit * 2;
            display: inline-flex;
            width: 100%;
          }
          .email-input {
            margin-bottom: variables.$base-unit * 3 !important;
            margin-left:variables.$base-unit * 3;
            width: 88%;
          }
        
          .email-input-with-error {
            margin-bottom: 0px !important;
            margin-left:variables.$base-unit * 3;
            width: 88%;
          }
          
          .send-invite-button,
          & .send-invite-button:hover {
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            margin-left:variables.$base-unit * 3;
            width: 88%;
            height: variables.$base-unit * 6;
            font-weight: bold;
            margin-bottom: variables.$base-unit * 2;
          }
    }
}

.MuiDialog-root{
  .MuiDialog-container{
    .dialog-back-button{
      border-color: variables.$color-neutral-black;
      border-radius: variables.$base-unit;
      box-shadow: none;
      color: variables.$color-neutral-black;
      text-transform: none;
      margin-right:variables.$base-unit;
      width: variables.$base-unit * 10;
      height: variables.$base-unit * 5;
      font-weight: bold;
      margin-bottom: variables.$base-unit * 2;
    }

    .dialog-confirm-button{
      background-color: variables.$color-dark-yellow;
      border-radius: variables.$base-unit;
      box-shadow: none;
      color: variables.$color-neutral-black;
      text-transform: none;
      margin-right:variables.$base-unit * 2;
      width: variables.$base-unit * 10;
      height: variables.$base-unit * 5;
      font-weight: bold;
      margin-bottom: variables.$base-unit * 2;
    }
  }
}