@use "./../variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$button-details-height: 36px;
$content-width:1000px;
$back-icon-margin-bottom:3px;

.admin-users{
    background-image: url("./../../assets/home-image.svg");

    .grid-style{
        max-width: $content-width;
        justify-content: center;
        padding-top: variables.$base-unit * 5;

        .users-title{
            font-family: "Montserrat";
            font-size: variables.$font-size-title;
            margin-bottom: variables.$base-unit;
            width: max-content;
            font-weight: 500;
        }

        .back-button,
        & .back-button:hover {
            float: left;
            color: variables.$color-neutral-black;
            text-transform: none;
            height: $button-details-height;
            font-weight: bold;
            background-color: variables.$main-yellow;

            .back-icon{
                margin-bottom: $back-icon-margin-bottom;
            }
        }
    }

    .box-style{
        height: 525px;
        width: 100%;
    }

    .data-grid{
        width: $content-width;
        margin-left: auto;
        margin-right: auto;
        border-radius: variables.$base-unit * 3;
        background-color: white;
        font-family: "Montserrat";
        border: none;
        overflow: hidden;

        .button-details{
            float: right;
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: 30%;
            height: $button-details-height;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;
        }
    }
}

.MuiDataGrid-cell:focus{
    outline: none !important;
}

.MuiDataGrid-cell:focus-within{
    outline: none !important;
}

.MuiDataGrid-columnHeader:focus{
    outline: none !important;
}

.MuiDataGrid-columnHeaderTitle{
    font-weight: 600 !important;
}