@use "./../variables.scss";

$grid-max-width: 1000px;
$card-title-margin-left: 4px;
$chevron-right-margin-right: 4px;
$grid-margin-top: 10px;
$modal-image-width:90%;

.choose-gift-card-step-1 {
    background-image: url("./../../assets/home-image.svg");
    height: 100% !important;
    background-repeat:  repeat !important;
    background-size: contain !important;

    .grid-style{
        padding-top: variables.$base-unit * 18;
        overflow-y: auto;
        max-width: $grid-max-width;
        padding-bottom: variables.$base-unit * 12;
        z-index: 1000;

        .MuiStepLabel-label{
          font-family: "Montserrat";
        }
      
      .MuiStepper-root{
          width: variables.$base-unit * 100;
          margin-left: auto;
          margin-right: auto;
        }

        .card-item{
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(193, 211, 229, 0.6);
            border-radius: variables.$base-unit * 2;
            height:variables.$base-unit * 32;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
       
        }

        .card-image{
            width: $card-image-width;
            height:variables.$base-unit * 15;
            margin-left: auto;
            margin-right: auto;
            margin-top: variables.$base-unit * 3;
            border-radius: variables.$base-unit * 2;
        }

        .card-title{
            font-family: "Montserrat" ;
            margin-left: $card-title-margin-left;
            margin-bottom: 0px;
        }

        .card-link{
            font-family: "Montserrat";
            margin-left: $card-title-margin-left;
            cursor: pointer;
            width: max-content;
        }

        .chevron-icon-button{
            background-color: variables.$color-neutral-white;
            margin-bottom: variables.$base-unit * 2;
            float: right;
            margin-right: $chevron-right-margin-right;
        }

        .grid-vertical-align{
            margin-top: $grid-margin-top;
            margin-bottom: auto;
        }
    }
}

.MuiModal-root{
    .MuiCard-root{
        padding-top: variables.$base-unit * 6;
        padding-bottom: variables.$base-unit * 5;
        .MuiTypography-h6{
            font-family: "Montserrat";
            margin-top:variables.$base-unit * 2;
            margin-left:variables.$base-unit * 3;
        }

        .MuiTypography-body1{
            font-family: "Montserrat" ;
            margin-left: variables.$base-unit * 3;
            margin-right: variables.$base-unit * 3;
        }
    }

    .modal-card-image{
        margin-left: auto;
        margin-right: auto;
        border-radius: variables.$base-unit * 3;
        width: $modal-image-width;
        height: variables.$base-unit * 28;
    }
}

.choose-gift-card-step-2{
    background-image: url("./../../assets/home-image.svg");

    .MuiStepLabel-label{
      font-family: "Montserrat";
    }
  
    .MuiStepper-root{
      width: variables.$base-unit * 100;
      margin-left: auto;
      margin-right: auto;
    } 

    .choose-amount-card{
        padding-top: variables.$base-unit * 7;
        padding-bottom: variables.$base-unit * 7;
        padding-left: variables.$base-unit * 8;
        padding-right: variables.$base-unit * 8;
        border-radius: variables.$base-unit * 4;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

        @media screen and (min-width: variables.$breakpoint-sm) {
            width: 400px;
            margin-right: auto;
            margin-left: auto;
          }

        .choose-amount-title{
            font-family: "Montserrat";
            font-size: variables.$font-size-title;
            margin-bottom: variables.$base-unit * 4;
            text-align: start;
            color: variables.$color-neutral-black;
            width: 100%;
        }

        .email-input {
            margin-bottom: variables.$base-unit * 3 !important;
          }

          .MuiFormControl-root {
            margin: 0px;
            width: 100%;
            border-radius: variables.$base-unit;
            margin-bottom: variables.$base-unit;
        
            .MuiOutlinedInput-root {
              border-radius: variables.$base-unit;
            }
        
            .MuiOutlinedInput-root.Mui-error {
              .MuiOutlinedInput-notchedOutline {
                border-color: variables.$error-color;
              }
            }
        
            .MuiFormLabel-root.Mui-error {
              color: $login-error-label-color;
            }
          }

          .choose-amount-error-fe {
            font-size: variables.$font-size-small;
            color: variables.$error-color;
            text-align: start;
            margin-bottom: variables.$base-unit * 2;
            display: inline-flex;
            width: 100%;
          }

          .choose-amount-back-button{
            float: left;
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: 55%;
            height: variables.$base-unit * 6;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;
          }

          .choose-amount-next-button{
            float: right;
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: 55%;
            height: variables.$base-unit * 6;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;
          }

          .choose-amount-error-fe {
            font-size: variables.$font-size-small;
            color: variables.$error-color;
            text-align: start;
            margin-bottom: variables.$base-unit * 2;
            display: inline-flex;
            width: 100%;
          }

          .back-button-icon{
            margin-left: -8px;
          }

          .next-button-icon{
            margin-right: -8px;
          }

          .amount-input-with-error {
            margin-bottom: 0px !important;
          }
    }
    .overview-card{
      padding-top: variables.$base-unit * 5;
      padding-bottom: variables.$base-unit * 5;
      padding-left: variables.$base-unit * 8;
      padding-right: variables.$base-unit * 8;
      border-radius: variables.$base-unit * 4;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

      @media screen and (min-width: variables.$breakpoint-sm) {
          width: 400px;
          margin-right: auto;
          margin-left: auto;
        }

      .overview-title{
          font-family: "Montserrat";
          font-size: variables.$font-size-title;
          margin-bottom: variables.$base-unit * 3;
          text-align: start;
          color: variables.$color-neutral-black;
          width: 100%;
      }

      .overview-child-card{
        background-color: rgb(207, 209, 129, 0.5);
        height: variables.$base-unit * 22;
        border-radius: variables.$base-unit * 3;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
      }

      .overview-brand-title{
          font-family: "Montserrat";
          font-size: variables.$font-size-large;
          margin-left: variables.$base-unit * 4;
          text-align: start;
          color: variables.$color-neutral-black;
       
      }

      .overview-amount{
        font-family: "Montserrat";
          font-size: variables.$font-size-medium;
          margin-top: variables.$base-unit;
          margin-left: variables.$base-unit * 4;
          text-align: start;
          color: variables.$color-neutral-gray;
          width: 50%;
      }

      .image-style{
        height: variables.$base-unit * 11;
        width:  variables.$base-unit * 17;
        border-radius: variables.$base-unit * 2;
        float: left;
      }

      .grid-style{
        height: 100%;
      }

      .grid-item{
        margin-top: auto;
        margin-bottom: auto;
      }

      .overview-back-button{
        float: left;
        background-color: variables.$color-dark-yellow;
        border-radius: variables.$base-unit;
        box-shadow: none;
        color: variables.$color-neutral-black;
        text-transform: none;
        width: 55%;
        height: variables.$base-unit * 6;
        font-weight: bold;
        margin-bottom: variables.$base-unit ;
        margin-top: variables.$base-unit ;
      }

      .overview-confirm-button{
        float: right;
        background-color: variables.$color-dark-yellow;
        border-radius: variables.$base-unit;
        box-shadow: none;
        color: variables.$color-neutral-black;
        text-transform: none;
        width: 55%;
        height: variables.$base-unit * 6;
        font-weight: bold;
        margin-bottom: variables.$base-unit ;
        margin-top: variables.$base-unit ;
      }

      .back-button-icon{
        margin-left: -8px;
      }

      .button-container{
        margin-top: variables.$base-unit * 4;
      }
    }
}