@use "./../variables.scss";

$grid-max-width: 1000px;
$card-title-margin-left: 4px;
$chevron-right-margin-right: 4px;
$grid-margin-top: 10px;
$modal-image-width:90%;
$modal-phone-image-width:75%;
$modal-title-margin-top: 28px;
$modal-card-image-width:128px;
$modal-card-height: 96px;
$choose-amount-margin-left:12px;
$modal-title-size: 20px;
$modal-phone-phone-size-text:15px;
$choose-amount-active-points-font-size:14px;

.choose-gift-card {
    background-image: url("./../../assets/home-image.svg");
    height: 100% !important;
    background-repeat:  repeat !important;
    background-size: contain !important;

    .grid-style{
        padding-top: variables.$base-unit * 18;
        overflow-y: auto;
        max-width: $grid-max-width;
        padding-bottom: variables.$base-unit * 12;
        z-index: 1000;

        .MuiStepLabel-label{
          font-family: "Montserrat";
        }

      .menu-grid{
        margin-top: variables.$base-unit * 3;
        margin-left: variables.$base-unit * 3;

        .country-item{
          @media screen and (max-width: variables.$breakpoint-md){
           display: inherit;
           justify-content: center;
          }
          .country-field{
            margin-bottom: variables.$base-unit * 2 !important;  
          }
        }

        .search-item{
          justify-content: end;
          display: flex;
          width: 100%;
          @media screen and (min-width: variables.$breakpoint-md){
            justify-content: end;
          }

          @media screen and (max-width: variables.$breakpoint-md){
            justify-content: center;
          }
        
          .search-field{
            background-color: white;
            border-radius: variables.$base-unit *6;
            height: variables.$base-unit *6;
            font-family: "Montserrat";
            margin-right: variables.$base-unit;

            @media screen and (min-width: variables.$breakpoint-md){
              width: 70%;
            }

            @media screen and (max-width: variables.$breakpoint-md){
              width: 90%;
              margin-top: variables.$base-unit* 3;
            }
          }

          .search-icon-style{
            margin-left:variables.$base-unit *2;
            margin-right:variables.$base-unit *2;
          }
        }
    }

    .MuiFormControl-root {
      margin: 0px;
      width: 100%;
      background-color: white;
      border-radius: variables.$base-unit *6;
      height:variables.$base-unit *6;
      @media screen and (min-width: variables.$breakpoint-md){
        width: 100%;
      }

      @media screen and (max-width: variables.$breakpoint-md){
        width: 90%;
      }

      .MuiOutlinedInput-root {
        .MuiOutlinedInput-notchedOutline {
          border-color: white;
          height: 44px;
        }
      }
      
      .MuiInputBase-root{
        width: 90%;
        justify-content: center;
        margin-left:  variables.$base-unit *2;
        height: variables.$base-unit *6;
      }
  
      .MuiSelect-select {
        text-align: start;
      }
    }

    .empty-content{
      margin-left:auto;
      margin-right: auto;
      text-align: center;

      .empty-title{
        margin-top: variables.$base-unit * 3;
        font-family: "Montserrat";
        font-size: variables.$font-size-large;
        font-weight: 500;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: variables.$base-unit *2;
      }

      .empty-illustration{
        height: variables.$base-unit * 42;
      }
    }
      
      .MuiStepper-root{
        @media screen and (min-width: variables.$breakpoint-md){
          width: variables.$base-unit * 100;
        }
          margin-left: auto;
          margin-right: auto;
        }

        .card-item{
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(193, 211, 229, 0.6);
            border-radius: variables.$base-unit * 2;
            height:variables.$base-unit * 32;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        .card-image{
            width: $card-image-width;
            height:variables.$base-unit * 15;
            margin-left: auto;
            margin-right: auto;
            margin-top: variables.$base-unit * 3;
            border-radius: variables.$base-unit * 2;
        }

        .card-title{
            font-family: "Montserrat" ;
            margin-left: $card-title-margin-left;
            margin-bottom: 0px;
        }

        .card-link{
            font-family: "Montserrat";
            margin-left: $card-title-margin-left;
            cursor: pointer;
            width: max-content;
        }

        .chevron-icon-button{
            background-color: variables.$color-neutral-white;
            margin-bottom: variables.$base-unit * 2;
            float: right;
            margin-right: $chevron-right-margin-right;
        }

        .grid-vertical-align{
            margin-top: $grid-margin-top;
            margin-bottom: auto;
        }
        
        .MuiGrid-root{
          .MuiGrid-item{
              padding-left: 0px;
          }
      }
    }
    .MuiGrid-root{
      .MuiGrid-item{
          padding-left: 16px;
      }
  }

  .choose-amount-card{
    padding-top: variables.$base-unit * 5;
    padding-bottom: variables.$base-unit * 5;
    padding-left: variables.$base-unit * 8;
    padding-right: variables.$base-unit * 8;
    border-radius: variables.$base-unit * 4;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

    @media screen and (max-width: variables.$breakpoint-sm) {
      margin-left: $choose-amount-margin-left;
    }

    @media screen and (min-width: variables.$breakpoint-sm) {
      width: variables.$base-unit * 50;
      margin-right: auto;
      margin-left: auto;
    }

  .choose-amount-title{
      font-family: "Montserrat";
      font-size: variables.$font-size-title;
      margin-bottom: variables.$base-unit ;
      text-align: start;
      color: variables.$color-neutral-black;
      width: 100%;
      font-weight: 500;
  }

  .choose-amount-active-points{
      font-family: "Montserrat";
      font-size: $choose-amount-active-points-font-size;
      text-align: start;
      color: variables.$color-neutral-gray;
      width: 100%;
      margin-bottom: variables.$base-unit * 4;
    }
    .email-input {
      margin-bottom: variables.$base-unit * 3 !important;
    }
    .MuiFormControl-root {
      margin: 0px;
      width: 100%;
      border-radius: variables.$base-unit;
      margin-bottom: variables.$base-unit;
  
      .MuiOutlinedInput-root {
        border-radius: variables.$base-unit;
      }
  
      .MuiOutlinedInput-root.Mui-error {
        .MuiOutlinedInput-notchedOutline {
          border-color: variables.$error-color;
        }
      }
  
      .MuiFormLabel-root.Mui-error {
        color: variables.$color-gray;
      }
    }
    .choose-amount-error-fe {
      font-size: variables.$font-size-small;
      color: variables.$error-color;
      text-align: start;
      margin-bottom: variables.$base-unit * 2;
      display: inline-flex;
      width: 100%;
    }

    .choose-amount-back-button{
      float: left;
      background-color: variables.$color-dark-yellow;
      border-radius: variables.$base-unit;
      box-shadow: none;
      color: variables.$color-neutral-black;
      text-transform: none;
      width: 55%;
      height: variables.$base-unit * 6;
      font-weight: bold;
      margin-bottom: variables.$base-unit ;
      margin-top: variables.$base-unit ;
    }

    .choose-amount-next-button{
      float: right;
      background-color: variables.$color-dark-yellow;
      border-radius: variables.$base-unit;
      box-shadow: none;
      color: variables.$color-neutral-black;
      text-transform: none;
      width: 55%;
      height: variables.$base-unit * 6;
      font-weight: bold;
      margin-bottom: variables.$base-unit ;
      margin-top: variables.$base-unit ;
    }

    .choose-amount-error-fe {
      font-size: variables.$font-size-small;
      color: variables.$error-color;
      text-align: start;
      margin-bottom: variables.$base-unit * 2;
      display: inline-flex;
      width: 100%;
    }

    .back-button-icon{
      margin-left: -8px;
    }

    .next-button-icon{
      margin-right: -8px;
    }

    .amount-input-with-error {
      margin-bottom: 0px !important;
    }
  }
  .overview-card{
    padding-top: variables.$base-unit * 5;
    padding-bottom: variables.$base-unit * 5;
    padding-left: variables.$base-unit * 8;
    padding-right: variables.$base-unit * 8;
    border-radius: variables.$base-unit * 4;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

    @media screen and (max-width: variables.$breakpoint-sm) {
      margin-left: $choose-amount-margin-left;
    }

    @media screen and (min-width: variables.$breakpoint-sm) {
      width: variables.$base-unit * 52;
      margin-right: auto;
      margin-left: auto;
    }

  .overview-title{
      font-family: "Montserrat";
      font-size: variables.$font-size-title;
      margin-bottom: variables.$base-unit * 3;
      text-align: start;
      color: variables.$color-neutral-black;
      width: 100%;
      font-weight: 500;
  }

  .overview-child-card{
    background-color: rgb(207, 209, 129, 0.5);
    height: variables.$base-unit * 22;
    border-radius: variables.$base-unit * 3;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }

  .overview-brand-title{
      font-family: "Montserrat";
      font-size: variables.$font-size-large;
      margin-left: variables.$base-unit * 4;
      text-align: start;
      font-weight: 500;
      color: variables.$color-neutral-black;
   
  }

  .overview-points{
      font-family: "Montserrat";
      font-size: variables.$font-size-medium;
      margin-top: variables.$base-unit;
      margin-left: variables.$base-unit * 4;
      text-align: start;
      color: variables.$color-neutral-gray;
  }

  .overview-amount{
    font-family: "Montserrat";
    font-size: variables.$font-size-small;
    margin-top: variables.$base-unit;
    margin-left: variables.$base-unit * 4;
    text-align: start;
    color: variables.$color-neutral-gray;
}

  .image-style{
    float: right;

    @media screen and (max-width: variables.$breakpoint-sm) {
      height: variables.$base-unit * 6;
      width:  variables.$base-unit * 8;
      margin-bottom: variables.$base-unit * 4;
      margin-left: variables.$base-unit * 2;
      margin-right: variables.$base-unit * 2;
      border-radius: variables.$base-unit;
    }

    @media screen and (min-width: variables.$breakpoint-sm) {
      height: variables.$base-unit * 12;
      width:  variables.$base-unit * 16;
      margin-right: variables.$base-unit * 4;
      border-radius: variables.$base-unit * 2;
    }

  }

  .grid-style-overview{
    height: 100%;
  }

  .grid-item{
    margin-top: auto;
    margin-bottom: auto;
  }

  .overview-back-button{
    float: left;
    background-color: variables.$color-dark-yellow;
    border-radius: variables.$base-unit;
    box-shadow: none;
    color: variables.$color-neutral-black;
    text-transform: none;
    width: 55%;
    height: variables.$base-unit * 6;
    font-weight: bold;
    margin-bottom: variables.$base-unit ;
    margin-top: variables.$base-unit ;
  }

  .overview-confirm-button{
    float: right;
    background-color: variables.$color-dark-yellow;
    border-radius: variables.$base-unit;
    box-shadow: none;
    color: variables.$color-neutral-black;
    text-transform: none;
    width: 55%;
    height: variables.$base-unit * 6;
    font-weight: bold;
    margin-bottom: variables.$base-unit ;
    margin-top: variables.$base-unit ;
  }

  .back-button-icon{
    margin-left: -8px;
  }

  .button-container{
    margin-top: variables.$base-unit * 4;
  }

  }
}

.MuiModal-root{
    .MuiCard-root{
      @media screen and (max-width: variables.$breakpoint-sm) {
        width: variables.$base-unit * 35;
      }
        .MuiTypography-h6{
          font-family: "Montserrat";
          font-size: $modal-title-size;
          margin-left:variables.$base-unit * 2;

          @media screen and (max-width: variables.$breakpoint-sm) {
            font-size: $modal-title-size;
            margin-top:variables.$base-unit;
          }

          @media screen and (min-width: variables.$breakpoint-sm) {
            margin-top:$modal-title-margin-top;
            font-size: variables.$font-size-large;
          }
        }
        
        .MuiTypography-body1{
          font-family: "Montserrat" ;
          margin-left: variables.$base-unit * 2;
          margin-right: variables.$base-unit * 2;
          text-align: justify;

          @media screen and (max-width: variables.$breakpoint-sm) {
            margin-top:variables.$base-unit * 3;
            font-size:$modal-phone-phone-size-text;
          }
      }
      
    }

    .modal-card-image{  
        float: right;
        border-radius: variables.$base-unit * 2;
      
        @media screen and (max-width: variables.$breakpoint-sm) {
          width: $modal-phone-image-width;
          height: variables.$base-unit * 8;
        }

        @media screen and (min-width: variables.$breakpoint-sm) {
          width: $modal-image-width;
          height: $modal-card-height;
        }
    }

    .modal-website-link{
        font-family: "Montserrat" ;
        margin-left: variables.$base-unit * 2;
        margin-right: variables.$base-unit * 3;
        margin-top: variables.$base-unit * 3;
        font-size: variables.$font-size-small;
        cursor: pointer;
    }
}
