@use "./../variables.scss";

$grid-max-width: 968px;
$margin-right:4px;
$dollar-illustration-width:76px;
$dollar-illustration-height:86px;
$points-margin-bottom:36px;
$points-font-size:20px;

.home {
    background-image: url("./../../assets/home-image.svg");
    height: 100% !important;
    background-repeat:  repeat !important;
    background-size: contain !important;

    .grid-style{
        padding-top: variables.$base-unit * 18;
        overflow-y: auto;
        padding-bottom: variables.$base-unit * 12;
        z-index: 1000;
        max-width: $grid-max-width;

        .home-title{
            font-weight: 500;
            @media screen and (max-width: variables.$breakpoint-md) {
                font-family: "Montserrat";
                font-size: variables.$font-size-larger;
                width: max-content;
                margin-left: variables.$base-unit * 2;
              }
            
              @media screen and (min-width: variables.$breakpoint-md) {
                font-family: "Montserrat";
                font-size: variables.$font-size-title;
                width: max-content;
              }
        } 

        .home-balance{
            font-weight: 500;
            font-family: "Montserrat";
            cursor: pointer;
            width: max-content;
            margin-bottom: variables.$base-unit * 2;
            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-large;
            }

            @media screen and (max-width: variables.$breakpoint-md) {
                margin-left: variables.$base-unit * 2;
                font-size: $points-font-size;
            }
        } 


        .home-text{
            font-family: "Montserrat";
            font-size: variables.$font-size-medium;
            width: max-content;
            color: variables.$color-neutral-gray;
            padding-bottom: variables.$base-unit ;
            @media screen and (max-width: variables.$breakpoint-md) {
                margin-top: variables.$base-unit*2 ;
                margin-left: variables.$base-unit * 2;
            }

            @media screen and (min-width: variables.$breakpoint-md) {
                margin-top: variables.$base-unit *3;
            }
        }


        .card-item{
            background-color: rgb(253, 222, 146, 0.5);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-bottom: variables.$base-unit * 2;
            height:  variables.$base-unit  * 11;
            border-radius: variables.$base-unit * 2;

            .card-grid-item{
                margin-right: auto;
                margin-left: variables.$base-unit * 2;
            }

            .card-illustration-style{
                width: $dollar-illustration-width;
                height: $dollar-illustration-height;
                @media screen and (max-width: variables.$breakpoint-md) {
                    width: variables.$base-unit * 7;
                }
            }

            .card-description{
                @media screen and (max-width: variables.$breakpoint-md) {
                    margin-top: variables.$base-unit * 3;
                    font-family: "Montserrat";
                    margin-left: variables.$base-unit * 3;
                }
                
                @media screen and (min-width: variables.$breakpoint-md) {
                    font-family: "Montserrat";
                    margin-bottom: auto;
                    margin-top: auto;
                }
            }

            .card-description-text{
                @media screen and (max-width: variables.$breakpoint-md) {
                    visibility: hidden;
                }
            }

            .grid-description-style{
                margin-top: auto;
                margin-bottom: variables.$base-unit * 5;
            }

            .card-points{
                @media screen and (max-width: variables.$breakpoint-md) {
                    font-size: variables.$font-size-medium;
                    margin-right: variables.$base-unit;
                    font-family: "Montserrat";
                    font-weight: 500;
                }
                @media screen and (min-width: variables.$breakpoint-md) {
                    font-size: variables.$font-size-large;
                    font-family: "Montserrat";
                    float: right;
                    margin-right: variables.$base-unit * 5;
                    font-weight: 500;
                  }
            }

            .grid-points-style{
                @media screen and (max-width: variables.$breakpoint-md) {
                    margin-top: variables.$base-unit * 3;
                }
                
                @media screen and (min-width: variables.$breakpoint-md) {
                    margin-top: auto;
                    margin-bottom: $points-margin-bottom;
                }
            }
        }

        .step-card{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding-top: variables.$base-unit;
            padding-bottom: variables.$base-unit;
            padding-left: variables.$base-unit;
            padding-right: variables.$base-unit;
            border-radius: variables.$base-unit * 3;
            height: variables.$base-unit * 20;
        }

        .step-title{
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: 600;
            margin-bottom: variables.$base-unit * 2;
        }

        .step-text{
            font-family: "Montserrat";
            font-size: variables.$font-size-small;
        }

        .step-grid-item{
            padding-left: 8px !important;
        }

        .step-grid-item-button{
            padding-left: 0px !important;
            padding-top: 0px !important;

            .use-points-button,
            & .use-points-button:hover {
                background-color: variables.$color-dark-yellow;
                border-radius: variables.$base-unit * 5;
                box-shadow: none;
                color: variables.$color-neutral-black;
                text-transform: none;
                height: variables.$base-unit * 5;
                font-weight: bold;
                margin-left: variables.$base-unit ;
                text-align: center;
                width: 70%;
            }
        }

        .step-icon-style{
            width: 20px;
            height: 20px;
            margin-right: variables.$base-unit;
        }

        .step-illustration{
            width: variables.$base-unit * 10;
            margin-right: variables.$base-unit * 2;
            margin-top: variables.$base-unit * 2;
        }

        .step-illustration-recognize{
            width: variables.$base-unit * 8;
            margin-right: variables.$base-unit * 2;
            margin-top: variables.$base-unit * 2;
        }
    }

    .MuiGrid-root{
        justify-content: center;
        .MuiGrid-item{
            @media screen and (max-width: variables.$breakpoint-md) {
                padding-top: 8px;
            }
            
            @media screen and (min-width: variables.$breakpoint-md) {
                padding-top: 8px;
                padding-left: 16px;
            }
        }
    }
}