@use "./../variables.scss";

$grid-max-width: 968px;
$margin-right:4px;
$dollar-illustration-width:76px;
$dollar-illustration-height:86px;
$points-margin-bottom:36px;
$points-font-size:20px;
$stepper-card-font-size: 13px;

.home {
    background-image: url("./../../assets/home-image.svg");
    height: 100% !important;
    background-repeat:  repeat !important;
    background-size: contain !important;

   

    .grid-style{
        padding-top: variables.$base-unit * 18;
        overflow-y: auto;
        padding-bottom: variables.$base-unit * 12;
        z-index: 1000;
        max-width: $grid-max-width;
    
        .stepper-card{
            padding-top: variables.$base-unit * 4;
            padding-bottom: variables.$base-unit * 4;
            padding-left: variables.$base-unit * 6;
            padding-right: variables.$base-unit * 6;
            border-radius: variables.$base-unit * 4;
            margin-bottom: variables.$base-unit * 4;
            margin-right: 4px;
            position: relative;
            z-index: 1000;
            background-color: #FFEFC8;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

            .react-multi-carousel-list{
                height: 250px;
                z-index: 1300;
              
            }
        
            .react-multi-carousel-item{
                margin-left: 18px;
                height: variables.$base-unit * 20 !important;
                width: 264px !important;
            }

            .stepper-card-title{
                font-size: variables.$font-size-larger;
                font-family: "Montserrat";
                font-weight: 600;
                float: left;
            }

            .stepper-card-text{
                margin-top: variables.$base-unit;
                font-size: $stepper-card-font-size;
                font-family: "Montserrat";
                float: left;
                margin-bottom:variables.$base-unit * 2;
            }

            .talk-to-a-specialist-button,
                &  .talk-to-a-specialist-button:hover {
                    background-color: variables.$main-green;
                    border-radius: variables.$base-unit * 2;
                    box-shadow: none;
                    color: variables.$color-neutral-black;
                    text-transform: none;
                    width: variables.$base-unit * 24;
                    height: variables.$base-unit * 6;
                    font-weight: bold;
                    float: right;
                }

            .stepper-card-stepper{
                width: 100%;
            }

                .step-card{
                    padding-top: variables.$base-unit;
                    padding-bottom: variables.$base-unit;
                    padding-left: variables.$base-unit;
                    padding-right: variables.$base-unit;
                    border-radius: variables.$base-unit * 2;
                    height: variables.$base-unit * 20;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }

                .step-title{
                    font-family: "Montserrat";
                    font-size: variables.$font-size-medium;
                    font-weight: 700;
                  
                }

                .step-text{
                    font-family: "Montserrat";
                    font-size: variables.$font-size-small;
                }

                .step-grid-item{
                    padding-left: 8px !important;
                }

                .step-grid-item-button{
                    padding-left: 0px !important;
                    padding-top: 0px !important;
                }

                .step-illustration{
                    width: variables.$base-unit * 8;
                    margin-left: -16px;
                    margin-right: variables.$base-unit * 4;
                    margin-top: variables.$base-unit * 2;
        
                    @media screen and (max-width: variables.$breakpoint-sm) {
                        margin-left: variables.$base-unit * 3;
                    }
                }

                .step-illustration-birthday{
                    width: variables.$base-unit * 10;
                    margin-left: -32px;
                    margin-right: variables.$base-unit * 4;
                    margin-top: variables.$base-unit * 2;
        
                    @media screen and (max-width: variables.$breakpoint-sm) {
                        margin-left: variables.$base-unit * 3;
                    }
                }

                .proceed-button-no-skip,
                & .proceed-button-no-skip:hover {
                    background-color: variables.$main-green;
                    border-radius: variables.$base-unit;
                    color: variables.$color-neutral-black;
                    text-transform: none;
                    height: 36px;
                    font-weight: bold;
                    margin-left: variables.$base-unit * 2;
                    text-align: center;
                    width: 50%;
                    margin-top: variables.$base-unit ;

                }

                .proceed-button,
                & .proceed-button:hover {
                    background-color: variables.$main-green;
                    border-radius: variables.$base-unit;
                    color: variables.$color-neutral-black;
                    text-transform: none;
                    height: 36px;
                    font-weight: bold;
                    margin-left: variables.$base-unit * 2;
                    text-align: center;
                    width: 85%;
                }

                .skip-button,
                & .skip-button:hover {
                    background-color: white;
                    border-radius: variables.$base-unit;
                    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
                    color: variables.$color-neutral-black;
                    text-transform: none;
                    height: 36px;
                    font-weight: bold;
                    margin-left: variables.$base-unit * 2;
                    text-align: center;
                    width: 75%;
                }
        }
    

        .home-title{
            font-weight: 500;
            @media screen and (max-width: variables.$breakpoint-md) {
                font-family: "Montserrat";
                font-size: variables.$font-size-larger;
                width: max-content;
                margin-left: variables.$base-unit * 2;
              }
            
              @media screen and (min-width: variables.$breakpoint-md) {
                font-family: "Montserrat";
                font-size: variables.$font-size-title;
                width: max-content;
              }
        } 

        .home-balance{
            font-weight: 500;
            font-family: "Montserrat";
            cursor: pointer;
            width: max-content;
            margin-bottom: variables.$base-unit * 2;
            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-large;
            }

            @media screen and (max-width: variables.$breakpoint-md) {
                margin-left: variables.$base-unit * 2;
                font-size: $points-font-size;
            }
        } 


        .home-text{
            font-family: "Montserrat";
            font-size: variables.$font-size-medium;
            width: max-content;
            color: variables.$color-neutral-gray;
            padding-bottom: variables.$base-unit ;
            @media screen and (max-width: variables.$breakpoint-md) {
                margin-top: variables.$base-unit*2 ;
                margin-left: variables.$base-unit * 2;
            }

            @media screen and (min-width: variables.$breakpoint-md) {
                margin-top: variables.$base-unit *3;
            }
        }


        .card-item{
            background-color: #e1e1b5;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-bottom: variables.$base-unit * 2;
            height:  variables.$base-unit  * 11;
            border-radius: variables.$base-unit * 2;

            .card-grid-item{
                margin-right: auto;
                margin-left: variables.$base-unit * 2;
                padding-top: 0px;
            }

            .card-illustration-style{
                width: $dollar-illustration-width;
                height: $dollar-illustration-height;
       
                @media screen and (max-width: variables.$breakpoint-md) {
                    width: variables.$base-unit * 7;
                }
            }

            .card-description{
                font-family: "Montserrat";
                @media screen and (max-width: variables.$breakpoint-sm) {
                    margin-left: variables.$base-unit * 4;
                    font-size: variables.$font-size-normal;
                }
            }

          

            .grid-description-style{
                margin-top: auto;
                margin-bottom: auto;
                justify-content: start;
                display: flex;
            }

        }

        .step-card{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding-top: variables.$base-unit;
            padding-bottom: variables.$base-unit;
            padding-left: variables.$base-unit;
            padding-right: variables.$base-unit;
            border-radius: variables.$base-unit * 3;
            height: variables.$base-unit * 20;
        }

        .step-title{
            font-family: "Montserrat";
            font-weight: 600;
            margin-bottom: variables.$base-unit * 2;
            @media screen and (min-width: variables.$breakpoint-sm) {
                font-size: 20px;
            }

            @media screen and (max-width: variables.$breakpoint-sm) {
                width: 60%;
                margin-left: variables.$base-unit;
                font-size: variables.$font-size-medium;
            }
        }

        .step-text{
            font-family: "Montserrat";
            font-size: variables.$font-size-small;
           

            @media screen and (max-width: variables.$breakpoint-sm) {
                margin-left: variables.$base-unit;
            }
        }

        .step-text-invite-coworkers{
            margin-bottom: variables.$base-unit *3;
            font-family: "Montserrat";
            font-size: variables.$font-size-small;
        }

        .step-grid-item{
            padding-left: 8px !important;
        }

        .step-grid-item-button{
            padding-left: 0px !important;
            padding-top: 0px !important;

            .use-points-button,
            & .use-points-button:hover {
                background-color: variables.$color-dark-yellow;
                border-radius: variables.$base-unit * 5;
                box-shadow: none;
                color: variables.$color-neutral-black;
                text-transform: none;
                height: variables.$base-unit * 5;
                font-weight: bold;
                margin-left: variables.$base-unit ;
                text-align: center;
                @media screen and (min-width: variables.$breakpoint-sm) {
                    width: 70%;
                }

                @media screen and (max-width: variables.$breakpoint-sm) {
                    width: 60%;
                }
            }
        }

        .step-icon-style{
            width: 20px;
            height: 20px;
            margin-right: variables.$base-unit;
        }

        .step-illustration{
            width: variables.$base-unit * 10;
            margin-right: variables.$base-unit * 2;
            margin-top: variables.$base-unit * 2;

            @media screen and (max-width: variables.$breakpoint-sm) {
                margin-left: variables.$base-unit * 3;
            }
        }

        .step-illustration-recognize{
            width: variables.$base-unit * 8;
            margin-right: variables.$base-unit * 2;
            margin-top: variables.$base-unit * 2;

            @media screen and (max-width: variables.$breakpoint-sm) {
                margin-left: variables.$base-unit * 4;
            }
        }
    }

    .MuiGrid-root{
        justify-content: center;
        .MuiGrid-item{
            @media screen and (max-width: variables.$breakpoint-md) {
                padding-top: 8px;
            }
            
            @media screen and (min-width: variables.$breakpoint-md) {
                padding-top: 8px;
                padding-left: 16px;
            }
        }
    }
}

.MuiModal-root{
    .MuiCard-root{

        .mark-as-completed-button,
        & .mark-as-completed:hover {
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: variables.$base-unit * 24;
            height: variables.$base-unit * 5;
            font-weight: 600;
            margin-top: variables.$base-unit;
            float: right;
            margin-right: variables.$base-unit * 3;
        }


        .completement-step-personal-details-illustration{
            margin-left: variables.$base-unit;
            width: 80px;
        }

        .completement-step-title{
            font-family: "Montserrat";
            font-weight: 600;
            margin-bottom: variables.$base-unit * 3;
            font-size: variables.$font-size-larger;
        }

        .completement-step-text{
            font-family: "Montserrat";
            font-weight: 400;
            margin-bottom: variables.$base-unit * 2;
            font-size: $stepper-card-font-size;
        }

        .completement-step-illustration{
            margin-left: variables.$base-unit;
            width: 100px;
        }

        .completement-step-date-with-error {
            .MuiOutlinedInput-root {
              .MuiOutlinedInput-notchedOutline {
                border-color: variables.$error-color;
              }
            }
        }

        .completement-step-input {
            width: 100%;
        }

        .completement-step-select-with-error {
            .MuiOutlinedInput-notchedOutline {
              border-color: variables.$error-color;
            }
        }

        .MuiFormControl-root {
            width: 100%;
            margin-top: variables.$base-unit * 3 !important;
            border-radius: variables.$base-unit;
        
            .MuiOutlinedInput-root {
              border-radius: variables.$base-unit;
            }
        
            .MuiOutlinedInput-root.Mui-error {
              .MuiOutlinedInput-notchedOutline {
                border-color: variables.$error-color;
              }
            }
        
            .MuiFormLabel-root.Mui-error {
              color: $registration-error-label-color;
            }
        
            .MuiSelect-select {
              text-align: start;
            }
          }

        .completement-step-error-fe {
            font-size: variables.$font-size-small !important;
            color: variables.$error-color;
            text-align: start;
            display: inline-flex;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
        }

        .completement-step-date-helper{
            margin-top: 4px;
            margin-left: 4px;
            font-family: "Montserrat";
            font-size: variables.$font-size-small;
        }

        .completement-step-button,
        & .completement-step-button:hover {
          background-color: variables.$color-dark-yellow;
          border-radius: variables.$base-unit;
          box-shadow: none;
          color: variables.$color-neutral-black;
          text-transform: none;
          width: 100%;
          height: variables.$base-unit * 6;
          font-weight: bold;
          margin-top: variables.$base-unit * 3;
        }

        .completement-step-form{
            width: 100%;
        }

        .invite-group-coworker-button,
        & .invite-group-coworker-button:hover {
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: 70%;
            height: variables.$base-unit * 6;
            font-weight: bold;
            margin-top: variables.$base-unit * 2;
            margin-left: variables.$base-unit * 3;
            margin-right: variables.$base-unit * 6;
            margin-bottom: variables.$base-unit;
        }

        .invite-single-coworker-button,
        & .invite-single-coworker-button:hover {
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            width: 70%;
            height: variables.$base-unit * 6;
            font-weight: bold;
            margin-top: variables.$base-unit * 2;
            margin-right: variables.$base-unit * 3;
            float: right;
        }

        .invite-group-coworker-link{
            font-family: "Montserrat";
            font-size: variables.$font-size-small;
            margin-left: variables.$base-unit * 3;
        }
    }
}