@use "./../variables.scss";

$login-error-icon-width: 18px;
$login-error-icon-height: 18px;
$login-error-label-color: #666666;

.login {
  background-image: url("./../../assets/login-image.svg");

  .grid-style {
    justify-content: center;
  }

  .login-card {
    padding-top: variables.$base-unit * 7;
    padding-bottom: variables.$base-unit * 7;
    padding-left: variables.$base-unit * 8;
    padding-right: variables.$base-unit * 8;
    border-radius: variables.$base-unit * 4;
    text-align: center;

    @media screen and (min-width: variables.$breakpoint-xl) {
      width: 400px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .login-title {
    font-family: "Montserrat";
    font-size: variables.$font-size-title;
    margin-bottom: variables.$base-unit * 4;
    text-align: start;
    color: variables.$color-neutral-black;
    width: 100%;
  }

  .login-title-with-error {
    font-family: "Montserrat";
    font-size: variables.$font-size-title;
    margin-bottom: variables.$base-unit * 2;
    text-align: start;
    color: variables.$color-neutral-black;
    width: 100%;
  }

  .email-input {
    margin-bottom: variables.$base-unit * 3 !important;
  }

  .email-input-with-error {
    margin-bottom: 0px !important;
  }

  .MuiFormControl-root {
    margin: 0px;
    width: 100%;
    border-radius: variables.$base-unit;
    margin-bottom: variables.$base-unit;

    .MuiOutlinedInput-root {
      border-radius: variables.$base-unit;
    }

    .MuiOutlinedInput-root.Mui-error {
      .MuiOutlinedInput-notchedOutline {
        border-color: variables.$error-color;
      }
    }

    .MuiFormLabel-root.Mui-error {
      color: $login-error-label-color;
    }
  }

  .login-forgot-password {
    font-family: "Montserrat";
    float: right;
    font-size: variables.$font-size-small;
    cursor: pointer;
    color: variables.$color-neutral-black;
    margin-bottom: variables.$base-unit * 4;
    width: max-content;
  }

  .login-button,
  & .login-button:hover {
    background-color: variables.$color-dark-yellow;
    border-radius: variables.$base-unit;
    box-shadow: none;
    color: variables.$color-neutral-black;
    text-transform: none;
    width: 100%;
    height: variables.$base-unit * 6;
    font-weight: bold;
    margin-bottom: variables.$base-unit * 4;
  }

  .login-no-account {
    font-family: "Montserrat";
    margin-left: auto;
    margin-right: auto;
    font-size: variables.$font-size-small;
    cursor: pointer;
    color: variables.$color-neutral-black;
    width: max-content;
  }

  .login-error {
    color: variables.$error-color;
    text-align: start;
    margin-bottom: variables.$base-unit * 3;
    display: inline-flex;
    width: 100%;

    .login-error-icon {
      width: $login-error-icon-width !important;
      height: $login-error-icon-height;
      width: 10%;
      margin-right: variables.$base-unit;
    }

    .login-error-message {
      width: 90%;
      font-size: variables.$font-size-small;
    }
  }

  .login-error-fe {
    font-size: variables.$font-size-small;
    color: variables.$error-color;
    text-align: start;
    margin-bottom: variables.$base-unit * 2;
    display: inline-flex;
    width: 100%;
  }
}
