html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0px;
}

.login {
  background-image: url("./../../assets/login-image.svg");
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .error {
    color: red;
  }
}
