@use "./../variables.scss";
.my-gift-cards {
    background-image: url("./../../assets/home-image.svg");

    .my-gift-cards-title{
        font-family: "Montserrat";
        font-size: variables.$font-size-title;
        text-align: center;
    }
}