@use "./../variables.scss";
.my-gift-cards-small-list {
    background-image: url("./../../assets/home-image.svg");
 
    .grid-style{
        overflow-y: auto;
        max-width: 1200px;
        padding-bottom: variables.$base-unit * 1;
        z-index: 1000;

        .my-gift-cards-title{
            font-family: "Montserrat";
            font-size: variables.$font-size-title;
            margin-left: variables.$base-unit ;
            margin-bottom: variables.$base-unit * 2;
            width: max-content;
        } 

        .my-gift-cards-text{
            font-family: "Montserrat";
            font-size: variables.$font-size-medium;
            margin-left: variables.$base-unit ;
            margin-bottom: variables.$base-unit ;
            width: max-content;
        } 

        .my-gift-cards-link{
            font-family: "Montserrat";
            font-size: variables.$font-size-medium;
            margin-left: variables.$base-unit ;
            margin-bottom: variables.$base-unit ;
            cursor: pointer;
            width: max-content;
        } 

        .my-gift-card-points{
            font-size: variables.$font-size-large;
           font-family: "Montserrat";
        }

        .card-item{
            margin-left: auto;
            margin-right: auto;
            background-color: variables.$main-blue;
            border-radius: variables.$base-unit * 2;
        }
    }
}

