@use "./../variables.scss";

$button-details-height: 36px;
$content-width:950px;

.my-team {
    background-image: url("./../../assets/home-image.svg");

    .grid-style{
        justify-content: center;
        padding-top: variables.$base-unit * 5;
        @media screen and (max-width: variables.$breakpoint-md) {
            width: 100%;
        }
    
        @media screen and (min-width: variables.$breakpoint-md) {
            max-width: $content-width;
        }

        .my-team-title{
            font-family: "Montserrat";
            margin-bottom: variables.$base-unit;
            width: max-content;
            font-weight: 500;
            @media screen and (max-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-larger;
            }
        
            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-title;
            }
        }
    }

    .box-style{
        height: 525px;
        width: 100%;
    }

    .data-grid{
        margin-left: auto;
        margin-right: auto;
        border-radius: variables.$base-unit * 3;
        background-color: white;
        font-family: "Montserrat";
        border: none;
        overflow: hidden;

        @media screen and (max-width: variables.$breakpoint-md) {
            width: 100%;
        }
    
        @media screen and (min-width: variables.$breakpoint-md) {
            width: $content-width;
        }

        .button-send-points{
            float: right;
            background-color:variables.$main-blue;
            border-radius: variables.$base-unit;
            box-shadow: none;
            text-transform: none;
            height: variables.$base-unit *5;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;
        }

        .button-send-points-disabled{
            float: right;
            background-color:#d2d2d2;
            border-radius: variables.$base-unit;
            box-shadow: none;
            text-transform: none;
            height: variables.$base-unit *5;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;
        }

        
    }
}

.MuiDataGrid-cell:focus{
    outline: none !important;
}

.MuiDataGrid-cell:focus-within{
    outline: none !important;
}

.MuiDataGrid-columnHeader:focus{
    outline: none !important;
}

.MuiDataGrid-columnHeaderTitle{
    font-weight: 600 !important;
}