@use "./../variables.scss";

$main-text-width: 50%;
$main-text-phone-width: 80%;
$points-font-size:18px;

.no-gift-cards{
    background-color: variables.$main-yellow;

    .no-gift-cards-content{
        width: 100%;
        text-align: center;
        padding-top: variables.$base-unit * 11;
    }

    .no-gift-cards-title{
        font-family: "Montserrat";
        margin-bottom: variables.$base-unit * 3;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        @media screen and (max-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-large;
            width: $main-text-phone-width;
        }
        
        @media screen and (min-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-larger;
            width: $main-text-width;
        }
    }

    .no-gift-cards-points{
        font-family: "Montserrat";
        margin-bottom: variables.$base-unit ;
        font-size: $points-font-size;
        font-weight: 500;
        margin-top: variables.$base-unit * 4;
    }

    .no-gift-cards-illustration{
        margin-left: auto;
        margin-right: auto;
        margin-top: variables.$base-unit *4;
        width: variables.$base-unit * 44;
    }

    .use-points-button,
        & .use-points-button:hover {
        background-color: variables.$color-dark-yellow;
        border-radius: variables.$base-unit * 5;
        box-shadow: none;
        color: variables.$color-neutral-black;
        text-transform: none;
        height: variables.$base-unit * 6;
        font-weight: bold;
        margin-bottom: variables.$base-unit * 2;
        margin-right: variables.$base-unit ;
        text-align: center;
        width: variables.$base-unit * 30;
    }

    .gift-icon-style{
        margin-right: variables.$base-unit;
        margin-bottom: 4px;
    }
}