@use "./../variables.scss";

$main-text-width: 50%;
$main-text-phone-width: 80%;

.no-gift-cards{
    background-color: variables.$main-yellow;

    .no-gift-cards-content{
        width: 100%;
        text-align: center;
        padding-top: variables.$base-unit * 11;
    }

    .no-gift-cards-title{
        font-family: "Montserrat";
        margin-bottom: variables.$base-unit * 3;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        @media screen and (max-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-large;
            width: $main-text-phone-width;
        }
        
        @media screen and (min-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-larger;
            width: $main-text-width;
        }
    }

    .no-gift-cards-link{
        font-family: "Montserrat";
        cursor: pointer;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .no-gift-cards-points{
        font-family: "Montserrat";
    }

    .no-gift-cards-illustration{
        margin-left: auto;
        margin-right: auto;
        margin-top: variables.$base-unit *4;
        width: variables.$base-unit * 44;
    }
}