@use "./../variables.scss";


.secret-santa-welcome{
    @media screen and (max-width: variables.$breakpoint-md) {
        background-color: variables.$main-yellow;
      }
    
      @media screen and (min-width: variables.$breakpoint-md) {
        background-image: url("./../../assets/secret-santa.svg");
    }

    .secret-santa-logo{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: variables.$base-unit * 4;
        margin-left: variables.$base-unit * 4;
        width: variables.$base-unit *30;
        cursor: pointer;
    }
    .grid-style{
        width: 70%;

    .secret-santa-title{
        font-weight: bold;
        font-family: "Montserrat";
        text-align: center;
        @media screen and (max-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-larger;
          }
        
          @media screen and (min-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-title;
        }
    }

    .secret-santa-text{
        font-family: "Montserrat";
        text-align: center;
        margin-top:variables.$base-unit * 6;
    }

    .secret-santa-text-bold{
        font-family: "Montserrat";
        text-align: center;
        font-weight: bold;
        margin-top:variables.$base-unit * 4;
    }
}

}