@use "./../variables.scss";

$content-width:1000px;

.user-manager-purchase-points{
    background-image: url("./../../assets/purchase-points-image.svg");

    .card-style{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        border-radius: variables.$base-unit * 3;
        padding-top: variables.$base-unit * 3;
        padding-bottom: variables.$base-unit * 3;
        padding-left: variables.$base-unit * 5;
        padding-right: variables.$base-unit * 5;
        width: $card-width;
    }

    .title-style{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: variables.$font-size-title;
        margin-bottom: variables.$base-unit * 2;
    }

    .text-style{
        font-family: "Montserrat";
        font-size: variables.$font-size-normal;
        margin-bottom: variables.$base-unit * 4;
    }

    .amount-input {
        margin-bottom: variables.$base-unit * 2 !important;
      }
    
    .amount-input-with-error {
        margin-bottom: 0px !important;
    }

    .amount-error {
        color: variables.$error-color;
        text-align: start;
        margin-bottom: variables.$base-unit * 3;
        display: inline-flex;
        width: 100%;
    
        .amount-error-icon {
          width: $login-error-icon-width !important;
          height: $login-error-icon-height;
          width: 10%;
          margin-right: variables.$base-unit;
        }
    
        .amount-error-message {
          width: 90%;
          font-size: variables.$font-size-small;
        }
    }

    .MuiFormControl-root {
        margin: 0px;
        width: 100%;
        border-radius: variables.$base-unit;
    
        .MuiOutlinedInput-root {
          border-radius: variables.$base-unit;
        }
    
        .MuiOutlinedInput-root.Mui-error {
          .MuiOutlinedInput-notchedOutline {
            border-color: variables.$error-color;
          }
        }
    
        .MuiFormLabel-root.Mui-error {
          color: $registration-error-label-color;
        }
    }

    .amount-error-fe {
        font-size: variables.$font-size-small;
        color: variables.$error-color;
        text-align: start;
        margin-bottom: variables.$base-unit;
        display: inline-flex;
        width: 100%;
      }
}

