@use "./../variables.scss";

$registration-error-label-color: #666666;


.user-profile{
  @media screen and (max-width: variables.$breakpoint-sm) {
    background-color: variables.$main-yellow;
  }

  @media screen and (min-width: variables.$breakpoint-sm) {
    background-image: url("./../../assets/user-profile-image.svg");
  }
    .grid-style {
        justify-content: center;
        z-index: 1200;
      }
    
    .user-profile-card {
        padding-top: variables.$base-unit * 4;
        padding-bottom: variables.$base-unit * 7;
        padding-left: variables.$base-unit * 8;
        padding-right: variables.$base-unit * 8;
        border-radius: variables.$base-unit * 4;
        text-align: center;

        @media screen and (max-width: variables.$breakpoint-sm) {
          margin-top: variables.$base-unit * 8;
        }
        @media screen and (min-width: variables.$breakpoint-sm) {
          margin-top: variables.$base-unit;
        }
      
        @media screen and (min-width: variables.$breakpoint-xl) {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
      }

      .user-profile-input {
        margin-bottom: variables.$base-unit * 3 !important;
      }

      .user-profile-avatar{
        width:variables.$base-unit * 14;
        height:variables.$base-unit * 14;
        margin-bottom: variables.$base-unit * 3;
      }

      .MuiFormControl-root {
        margin: 0px;
        width: 100%;
        border-radius: variables.$base-unit;
    
        .MuiOutlinedInput-root {
          border-radius: variables.$base-unit;
        }
    
        .MuiOutlinedInput-root.Mui-error {
          .MuiOutlinedInput-notchedOutline {
            border-color: variables.$error-color;
          }
        }
    
        .MuiFormLabel-root.Mui-error {
          color: $registration-error-label-color;
        }
    
        .MuiSelect-select {
          text-align: start;
        }
      }
}