@use "./../variables.scss";

$content-width:1000px;

.user-manager-purchase-points-success{
  background-color: variables.$main-yellow;

  .user-manager-purchase-points-success-content{
    width: 100%;
    text-align: center;
    padding-top: variables.$base-unit * 16;

    .user-manager-purchase-points-success-title{
        font-family: "Montserrat";
        margin-bottom: variables.$base-unit * 3;
        text-align: center;
        width: $main-text-width;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        @media screen and (max-width: variables.$breakpoint-md) {
            font-size: 22px;
            width: $main-text-phone-width;
        }
        
        @media screen and (min-width: variables.$breakpoint-md) {
            font-size: variables.$font-size-larger;
            width: $main-text-width;
        }
    }

    .user-manager-purchase-points-success-link{
        font-family: "Montserrat";
        cursor: pointer;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .user-manager-purchase-points-success-illustration{
        margin-left: auto;
        margin-right: auto;
        margin-top: variables.$base-unit *2;
        @media screen and (max-width: variables.$breakpoint-md) {
            width: variables.$base-unit * 44;
        }
        
        @media screen and (min-width: variables.$breakpoint-md) {
            width: variables.$base-unit * 56;
        }
    }
}

}

