@use "./../variables.scss";

$content-width:1000px;

.user-manager-transactions{
    background-image: url("./../../assets/home-image.svg");

    .grid-style{
        justify-content: center;
        padding-top: variables.$base-unit * 10;
        @media screen and (max-width: variables.$breakpoint-md) {
            width: 100%;
        }
    
        @media screen and (min-width: variables.$breakpoint-md) {
            max-width: $content-width;
        }

        .organization-title{
            font-family: "Montserrat";
            width: max-content;
            margin-left: variables.$base-unit;
            font-weight: 500;
            @media screen and (max-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-larger;
            }
        
            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-title;
            }
        }

        .balance-title{
            font-family: "Montserrat";
            margin-top: variables.$base-unit;
            width: max-content;
            float: left;
            margin-left: variables.$base-unit;
            font-weight: 500;
            @media screen and (max-width: variables.$breakpoint-md) {
                font-size: 20px
            }
        
            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-large;
            }
        }
    }

    .box-style{
        height: 525px;
        width: 100%;
    }

    .data-grid{
        width: $content-width;
        margin-left: auto;
        margin-right: auto;
        border-radius: variables.$base-unit * 3;
        background-color: white;
        font-family: "Montserrat";
        border: none;
        overflow: hidden;
        @media screen and (max-width: variables.$breakpoint-md) {
            width: 100%;
        }
    }
}

.MuiDataGrid-cell:focus{
    outline: none !important;
}

.MuiDataGrid-cell:focus-within{
    outline: none !important;
}

.MuiDataGrid-columnHeader:focus{
    outline: none !important;
}

.MuiDataGrid-columnHeaderTitle{
    font-weight: 600 !important;
}