@use "./../variables.scss";

$content-width:775px;

.user-manager-invites{
    background-image: url("./../../assets/home-image.svg");

    .grid-style{
        justify-content: center;
        padding-top: variables.$base-unit * 7;
        @media screen and (max-width: variables.$breakpoint-md) {
          width: 100%;
      }
  
      @media screen and (min-width: variables.$breakpoint-md) {
          max-width: $content-width;
      }

        .invites-title{
            font-family: "Montserrat";
            margin-bottom: variables.$base-unit;
            width: max-content;
            font-weight: 500;
            @media screen and (max-width: variables.$breakpoint-md) {
              font-size: variables.$font-size-larger;
              margin-left: variables.$base-unit;
          }
      
          @media screen and (min-width: variables.$breakpoint-md) {
              font-size: variables.$font-size-title;
          }
        }

        .add-button{
            float: right;
            background-color: variables.$color-dark-yellow;
            border-radius: variables.$base-unit;
            box-shadow: none;
            color: variables.$color-neutral-black;
            text-transform: none;
            height: variables.$base-unit * 5;
            font-weight: bold;
            margin-bottom: variables.$base-unit ;
            margin-top: variables.$base-unit ;

            @media screen and (max-width: variables.$breakpoint-md) {
              width:90%;
              margin-right:variables.$base-unit;
          }
      
          @media screen and (min-width: variables.$breakpoint-md) {
            width: 50%;
          }
        }
    }

    .box-style{
        height: 525px;
        width: 100%;
    }

    .data-grid{
        width: $content-width;
        margin-left: auto;
        margin-right: auto;
        border-radius: variables.$base-unit * 3;
        background-color: white;
        font-family: "Montserrat";
        border: none;
        overflow: hidden;
        @media screen and (max-width: variables.$breakpoint-md) {
          width: 100%;
      }

        .cancel-button,
        & .cancel-button:hover{
            background-color: variables.$error-color;
            width: variables.$base-unit * 5;
            height: variables.$base-unit * 5;
         
            .cancel-icon{
                color: white;
                width: variables.$base-unit *3;
                height: variables.$base-unit *3;
            }
        }

        .resend-button,
        & .resend-button:hover{
            background-color: variables.$color-dark-yellow;
            width: variables.$base-unit * 5;
            height: variables.$base-unit * 5;
         
            .resend-icon{
                color: black;
                width: variables.$base-unit *3;
                height: variables.$base-unit *3;
            }
        }
    }

    .MuiFormControl-root {
        margin: 0px;
        border-radius: variables.$base-unit;
    
        .MuiOutlinedInput-root {
          border-radius: variables.$base-unit;
        }
    
        .MuiOutlinedInput-root.Mui-error {
          .MuiOutlinedInput-notchedOutline {
            border-color: variables.$error-color;
          }
        }
    
        .MuiFormLabel-root.Mui-error {
          color: variables.$color-gray;
        }
      }
}

.MuiModal-root{
    .MuiCard-root{
      padding-top: variables.$base-unit * 6;
        padding-bottom: variables.$base-unit * 6;
        background-color: white;
        .send-invite-title{
          font-family: "Montserrat";
          margin-left:variables.$base-unit * 3;
          font-size: variables.$font-size-larger;
          margin-bottom: variables.$base-unit ;
          width: max-content;
          font-weight: 500;
      }

      .send-invite-title-error{
        font-family: "Montserrat";
        margin-left:variables.$base-unit * 3;
        font-size: variables.$font-size-larger;
        margin-bottom: variables.$base-unit * 2;
        width: max-content;
        font-weight: 500;
    }

        .invite-error-fe {
            font-size: variables.$font-size-small;
            color: variables.$error-color;
            text-align: start;
            margin-bottom: 0px;
            margin-left: variables.$base-unit * 3;
            display: inline-flex;
            width: 88%;
          }

          .email-input {
            margin-left:variables.$base-unit * 3;
            width: 88%;
          }
        
          .email-input-with-error {
            margin-bottom: 0px !important;
            margin-left:variables.$base-unit * 3;
            width: 88%;
          }

          .user-role-input {
            margin-bottom: variables.$base-unit * 3 !important;
            margin-left:variables.$base-unit * 3;
            width: 88%;
          }
        
          .user-role-input-with-error {
            margin-bottom: 0px !important;
            margin-left:variables.$base-unit * 3;
            width: 88%;
          }

          .user-role-input-with-error  {
            .MuiOutlinedInput-notchedOutline {
                border-color: variables.$error-color;
            }
          }

          .user-role-label{
            margin-left: 24px;
          }

          .send-invite-button,
            & .send-invite-button:hover {
              background-color: variables.$color-dark-yellow;
              border-radius: variables.$base-unit;
              box-shadow: none;
              color: variables.$color-neutral-black;
              text-transform: none;
              margin-left:variables.$base-unit * 3;
              width: 88%;
              height: variables.$base-unit * 6;
              font-weight: bold;
              margin-bottom: variables.$base-unit * 2;
            }

            .MuiFormControl-root {
              margin: 0px;
              border-radius: variables.$base-unit;
              margin-bottom: variables.$base-unit;
          
              .MuiOutlinedInput-root {
                border-radius: variables.$base-unit;
              }
          
              .MuiOutlinedInput-root.Mui-error {
                .MuiOutlinedInput-notchedOutline {
                  border-color: variables.$error-color;
                }
              }
      
              .MuiFormLabel-root.Mui-error {
                color: variables.$color-gray;
              }      
            }

            .invite-error {
              color: variables.$error-color;
              text-align: start;
              margin-bottom: variables.$base-unit * 4;
              display: inline-flex;
              width: 100%;
          
              .invite-error-icon {
                margin-left: variables.$base-unit * 3;
                width: $login-error-icon-width !important;
                height: $login-error-icon-height;
                width: 10%;
              }
          
              .invite-error-message {
                width: 90%;
                font-size: variables.$font-size-small;
              }
            }
    }
}

.MuiDialog-root{
  .MuiDialog-container{
    .dialog-title{
      font-family: "Montserrat";
      font-weight: 600;
      font-size: variables.$font-size-large;
    }

    .dialog-text{
      font-family: "Montserrat";
    }
    
    .dialog-back-button{
      border-color: variables.$color-neutral-black;
      border-radius: variables.$base-unit;
      box-shadow: none;
      color: variables.$color-neutral-black;
      text-transform: none;
      margin-right:variables.$base-unit;
      width: variables.$base-unit * 10;
      height: variables.$base-unit * 5;
      font-weight: bold;
      margin-bottom: variables.$base-unit * 2;
    }

    .dialog-confirm-button{
      background-color: variables.$color-dark-yellow;
      border-radius: variables.$base-unit;
      box-shadow: none;
      color: variables.$color-neutral-black;
      text-transform: none;
      margin-right:variables.$base-unit * 2;
      width: variables.$base-unit * 10;
      height: variables.$base-unit * 5;
      font-weight: bold;
      margin-bottom: variables.$base-unit * 2;
    }
  }
}