Hello #{firstName} #{lastName}

Welcome to My App! Now your test emails will be safe. We just need to make sure your account is real. 
Please, click the link below and start using your account:
'https://example.com/confirmation'
